name: Docker Metadata

on:
  workflow_dispatch:

jobs:
  meta-all:  
    runs-on: ubuntu-latest
    steps:      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            myregistry/myrepo/myimage
          tags: |
            mytag
          labels: |
            org.opencontainers.image.title=MyCustomTitle
            org.opencontainers.image.description=Another description
            org.opencontainers.image.vendor=MyCompany
          annotations: |
            anno1
            anno2
      - name: Display Tags
        run: echo '${{ steps.meta.outputs.tags }}'
      - name: Display Labels
        run: echo '${{ steps.meta.outputs.labels }}'
      - name: Display Annotations
        run: echo '${{ steps.meta.outputs.annotations }}'
        
  meta-tags-only:  
    runs-on: ubuntu-latest
    steps:      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: type=ref,event=branch
          annotations: |
            anno1
            anno2
      - name: Display Tags
        run: echo '${{ steps.meta.outputs.tags }}'
